<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KeyboardCrusher</title>
</head>
<body>
    <h1>Welcome to KeyboardCrusher</h1>
    <p>Pick your options! Choose what your comfortable with and slowly advance through the levels of difficulty.</p>
    <p><a href="http://127.0.0.1:5000/beginner">Difficulty: Beginner</a></p>
    <p><a href="http://127.0.0.1:5000/intermediate">Difficulty: Intermediate</a></p>
    <p><a href="http://127.0.0.1:5000/advanced">Difficulty: Advanced</a></p>

    <style>
        h1 {
            font-family: monospace;
            font-size: 48px;
            color: black;
        }
        p {
            font-family: monospace;
            font-size: 24px;
            color: black;
        }
        a {
            font-family: monospace;
            font-size: 24px;
            color: black;
        }
        body {
            background-color: skyblue;
        }
    </style>

</body>
</html>