<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>Welcome to my simple webiste!</h1>
    <p>I knew one day someone would come.</p>
    <p>Type your way to greatness with KeyboardCrusher.</p>
    <p>Visit my social media and connect with me online!</p>

    <p><a href="http://127.0.0.1:5000/socialmedia">My Social Media!📠</a></p>
    <p><a href="http://127.0.0.1:5000/keyboardcrusher">KeyboardCrusher⌨️</a></p>

    <style>
        body {
            background-color: skyblue;
            color: black;
        }
        h1 {
            font-family: monospace;
            font-size: 48px;
        }
        p {
            font-family: monospace;
            font-size: 24px
        }
        a {
            font-family: monospace;
            font-size: 24px;
            color: black;
        }
    </style>
</body>
</html>