<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Bio</title>
</head>
<body>
   <a href="http://127.0.0.1:5000/">Home</a>
   <h1>Who am I?</h1>        
   <p>Full stack developer who plays Minecraft, Undertale and more!</p>
   <p><a href="https://steamcommunity.com/profiles/76561199170262575/">Visit my Steam Profile</a></p>
   <p><a href="https://discord.com/app">Talk to me on discord @Manded#0001</a></p>
   <p><a href="https://github.com/MandedGithub">Visit my Github @MandedGithub</a></p>

   <style>
      h1 {
         font-family: monospace;
         font-size: 64px;
         color: black;
      }

      p {
         font-family: monospace;
         font-size: 48px;
         color: black;
      }

      a {
         font-family: monospace;
         font-size: 24px;
         color: black;
      }

      body {
         background-color: skyblue;
      }
   </style>
</body>
</html>