<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TicTacToeMainPage</title>
</head>
<body>
    <a href="http://127.0.0.1:5000/">Home</a>
    <center><p style="font-family: monospace; font-size: 64px">Welcome to Tic Tac Toe!</p></center>
    <center><p><a href="http://127.0.0.1:5000/tictactoeinfo">Tic Tac Toe Rules & Info</a></p></center>
    <center><p><a href="http://127.0.0.1:5000/tictactoe">Tic Tac Toe Game</a></center>

        <style>
            a {
                font-family: monospace;
                font-size: 32px;
                color: black 
            }
            body {
                background-color: skyblue;
            }
        </style>
</body>
</html>